$grid_size: 12;
$single_col_size: 100.0 / $grid_size;

@for $i from 1 through $grid_size {
  $percent: $single_col_size * $i;
  $no_offset: $percent - $single_col_size;

  .ffwdme-grid-x#{$i}{
    position: absolute;
    left: ceil($no_offset * 100) / 100 * 1%;
  }

  .ffwdme-grid-y#{$i}{
    position: absolute;
    top: ceil($no_offset * 100) / 100 * 1%;
  }

  .ffwdme-grid-w#{$i}{
    position: absolute;
    width: ceil($percent * 100) / 100 * 1%;
  }

  .ffwdme-grid-h#{$i}{
    position: absolute;
    height: ceil($percent * 100) / 100 * 1%;
  }

}
