/*widget background*/
$widget-default-background: rgb(36,38,40);
$widget-blue-background: rgb(42,143,189);
$widget-orange-background: rgb(255,85,0);
$widget-green-background: rgb(68,170,85);
$widget-red-background: rgb(164,8,2);
$widget-pink-background: rgb(255,0,102);
$widget-purple-background: rgb(99,9,71);

/*widget borders*/
$widget-border-shadow: inset 0 1px 1px rgba(255,255,255,0.2);
$widget-border-radius: 0px;
$widget-border-width: 1px;

/*widget font*/
$widget-font-family: "HelveticaNeue-Bold", "Helvetica-Bold", Arial, "Droid Sans", sans-serif;
$widget-font-color: #fff !important;
$widget-font-shadow: 0px 1px 0px rgba(0,0,0, 0.6);
