.ffwdme-components-small-arrow {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.ffwdme-components-label-roundabout {
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 48%;
}
