.ffwdme-components-text {
  line-height: 140%;
  font-size: 60%;
  display: block;
  max-width: 100%;
  max-height: 100%;
  text-overflow: ellipsis;
}

.ffwdme-components-big-typo {
  font-size: 180%;
}
