.ffwdme-components-route-overview-image {
  height: 80%;
  margin-top: 0.08em;
}

.ffwdme-in-route-overview {
  opacity: 0.4;
}

.ffwdme-in-route-overview.ffwdme-components-route-overview {
  opacity: 1.0;
}

